<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>게시판 예제</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>NO</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.seq}"/>
                <td>
                    <a th:href="@{/board/read/{seq}(seq=${board.seq})}" th:text="${board.title}"/>
                </td>
                <td th:text="${board.writer}"/>
                <td th:text="${board.regDate}"/>
                <td th:text="${board.cnt}"/>
            </tr>
        </table>
        <a href="/board/write">새글</a>
    </body>
</html>